In [1]:
# 1. Import libraries yang dibutuhkan
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [12]:
# 2. Membaca dataset
# Menggunakan pd.read_excel untuk Excel files
df = pd.read_excel('/content/dataKasus-1.xlsx')

In [13]:
# 3. Menghapus kolom yang tidak diperlukan
df.drop(columns=['NO', 'NAMA'], inplace=True)

In [14]:
# 4. Membersihkan kolom USIA
# Menghapus string "TH" dan mengubah tipe data menjadi numerik
# Mengganti ' TH' pada atribut usia dengan empty string
df['USIA'] = df['USIA'].str.replace(' TH', '')
# Mengganti ' TH' dengan string kosong
df['USIA'] = pd.to_numeric(df['USIA'], errors='coerce')
# Mengisi nilai NaN dengan 0 dan mengubahnya ke tipe integer
df['USIA'] = df['USIA'].fillna(0).astype(int)

In [17]:
# 5. Mengubah kolom JARAK KELAHIRAN menjadi kategori biner
# Jika "< 2 tahun" = 0, "> 2 tahun" = 1
# Mengonversi kolom menjadi tipe string untuk menangani kemungkinan nilai float
df['JARAK KELAHIRAN'] = df['JARAK KELAHIRAN'].astype(str)
# Mengubah nilai menjadi 0 jika '< 2 tahun', selain itu menjadi 1
df['JARAK KELAHIRAN'] = df['JARAK KELAHIRAN'].apply(lambda x: 0 if '< 2 tahun' in x else 1)

In [18]:
# 6. Mengubah data kategorikal lainnya menjadi numerik dengan LabelEncoder
label_cols = ['RIW HIPERTENSI', 'RIW PE', 'OBESITAS', 'RIW DM',
              'RIW HIPERTENSI/PE DALAM KELUARGA', 'SOSEK RENDAH', 'PE/Non PE']

le = LabelEncoder()
for col in label_cols:
    df[col] = le.fit_transform(df[col])

In [19]:
# 7. Memeriksa hasil preprocessing
print(df.head())

   USIA  PARITAS  JARAK KELAHIRAN  RIW HIPERTENSI  RIW PE  OBESITAS  RIW DM  \
0    23        3                1               0       9         0       1
1    29        2                1               0       7         0       0
2    20        1                1               0       9         0       0
3    18        1                1               0       9         0       0
4    34        3                1               0       9         0       0

   RIW HIPERTENSI/PE DALAM KELUARGA  SOSEK RENDAH  PE/Non PE Unnamed: 12
0                                 1             1          1         NaN
1                                 0             1          2         NaN
2                                 1             1          1         NaN
3                                 1             1          1         NaN
4                                 1             1          1         NaN

In [20]:
# 8. Menyimpan data yang sudah dipreprocessing ke file baru
df.to_csv('dataKasus-1_preprocessed.csv', index=False)